@model JobModel

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Experience";
    ViewData["Action"] = "Create";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Action"]}";
    ViewData["Icon"] = "fas fa-briefcase fa-fw";
}
<section id="job-create-form" class="form-component">
    <div class="header">
        <h2><i class="fas fa-briefcase fa-fw"></i> Experience</h2>
    </div>
    <div class="body">
        <form v-on:submit.prevent="submit">
            <div class="mb-3">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" v-model="company" class="form-control" />
                <span v-if="errors.company" class="text-danger">{{errors.company}}</span>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" v-model="title" class="form-control" />
                <span v-if="errors.title" class="text-danger">{{errors.title}}</span>
            </div>
            <div class="mb-3">
                <label asp-for="JobStart" class="control-label"></label>
                <vuejs-datepicker v-model="jobStart" 
                                  :wrapper-class="'datepicker-component'" 
                                  :format="dateFormat" :clear-button="true" 
                                  :clear-button-icon="'fal fa-times'" 
                                  :calendar-button="true" 
                                  :calendar-button-icon="'fal fa-calendar'">
                </vuejs-datepicker>
                <span v-if="errors.jobStart" class="text-danger">{{errors.jobStart}}</span>
            </div>
            <div class="mb-3">
                <label asp-for="JobEnd" class="control-label"></label>
                <vuejs-datepicker v-model="jobEnd" 
                                  :wrapper-class="'datepicker-component'" 
                                  :format="dateFormat" :clear-button="true" 
                                  :clear-button-icon="'fal fa-times'" 
                                  :calendar-button="true" 
                                  :calendar-button-icon="'fal fa-calendar'">
                </vuejs-datepicker>
                <span v-if="errors.jobEnd" class="text-danger">{{errors.jobEnd}}</span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" v-model="description" class="form-control" rows="3"></textarea>
                <span v-if="errors.description" class="text-danger">{{errors.description}}</span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary bc-button" />
            </div>
            <div class="mb-3">
                <div v-if="errors.result" class="mb-3 alert alert-danger">
                    <i class="fas fa-exclamation-triangle fa-fw"></i> {{errors.result}}
                </div>
            </div>
        </form>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section PageScripts {
    <script src="~/assets/dist/lib/vuejs-datepicker.min.js"></script>
}
