@{
    ViewData["Title"] = "Blogcore - 404 - Not Found";
    Layout = "_Layout";
}

<section id="not-found">
    <h2>404</h2>
    <p>
        The content you were looking for is not here.
    </p>
</section>

