
@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Media";
    ViewData["Action"] = "Group";
    ViewData["Model"] = "Create";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Action"]}";
}
<section id="mediagroup-create-form" class="form-component">
    <div class="header">
        <h2><i class="fas fa-box-full fa-fw"></i> Media Group</h2>
    </div>
    <div class="body">
        <form method="post" v-on:submit.prevent="submit">
            <div class="mb-3">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control" v-model="name" required />
                <span v-if="errors.name" class="text-danger">{{errors.name}}</span>
            </div>
            <div class="mb-3">
                <label for="name">Normalized Name</label>
                <input id="name" type="text" class="form-control" v-model="normalizedName" disabled required />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary bc-button" title="Submit">
                    Submit
                </button>
            </div>
        </form>
    </div>

    <confirmation-component v-show="visible" v-bind:header="modal.header" v-bind:body="modal.body" v-on:confirm="confirm" v-on:cancel="cancel"></confirmation-component>
</section>

