@model BlogCore.Models.Catalogues.MediaGroupModel

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Media";
    ViewData["Child"] = "Group";
    ViewData["Action"] = "Edit";
    ViewData["Title"] = $"{ViewData["Child"]} - {ViewData["Action"]}";
}

<section id="mediagroup-edit-form" class="form-component">
    <div class="header">
        <h2><i class="fas fa-folder fa-fw" aria-hidden="true"></i> Edit</h2>
    </div>
    <div class="body">
        <form v-on:submit.prevent="submit">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" v-model="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NormalizedName" class="control-label"></label>
                <input asp-for="NormalizedName" v-model="normalizedName" class="form-control" disabled />
                <span asp-validation-for="NormalizedName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @if (ViewData.ModelState["ServerError"] != null)
                {
                    <div class="alert alert-danger">
                        <i class="far fa-exclamation-triangle fa-fw"></i> @Html.ValidationMessage("ServerError")
                    </div>
                }
                <input type="submit" value="Save" class="btn btn-primary bc-button" />
            </div>
            <div class="mb-3">
                <div v-if="errors.result" class="mb-3 alert alert-danger">
                    <i class="fas fa-exclamation-triangle fa-fw" aria-hidden="true"></i> {{errors.result}}
                </div>
            </div>
        </form>
        <a asp-action="Index"><i class="fal fa-arrow-left fa-fw" aria-hidden="true"></i> Back to List</a>
    </div>
</section>

