@model IEnumerable<BlogCore.Models.Catalogues.MediaGroupModel>

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Media";
    ViewData["Child"] = "Groups";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Child"]}";
    ViewData["Icon"] = "fas fa-box-full fa-fw";
}

<section id="mediagroup-management">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="management-header">
                    <h2 class="header">
                        Group Management
                    </h2>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table-component v-bind:options="options"></table-component>
            </div>
        </div>
    </div>
</section>