.about-container {
    background-color: $surface;
    box-shadow: 0 0 5px $border;
    margin-bottom: 20px;
    padding:2rem 1rem;

    @media(min-width:$screen-md-min) {
        padding: 2rem 5rem;
    }
}
