.bc-header {
    > .title {
        font-weight:bold;
        text-transform: uppercase;
    }

    > .underline {
        width: 50px;
        height: 6px;
        background-color: $secondaryVariant;
        margin-bottom: 40px;
        margin-top: -10px;
    }
}
