.bc-nav {
    display: flex;
    justify-content: space-between;

    &.-light {
        color: $white;
    }

    &.-dark{
        color:$black;
    }

    .brand {
        color: $white;
        font-weight: bold;
    }

    .nav-link {
        background: none;
        border: none;
        color: inherit;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .navbar-nav {
        align-items: center;
        flex-direction: row;
    }
}
