.bc-nav {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    position:absolute;
    width:100%;

    >.content {
        display:flex;
        color: $white;
        justify-content:space-between;
    }

    .item a {
        color: $white;
    }
}
