.bc-table {
    margin-bottom: 0;
    white-space: nowrap;

    > .header {
        background-color: $primary;
        border-bottom: 4px solid $secondary;
        color: $white;

        th {
            border: none;
            transition: background-color .2s ease-in-out;

            &.clickable:hover {
                background-color: rgba($white,0.1);
            }
        }
    }

    > .body {
        tr {
            background-color: $white;
        }

        tr:nth-child(even) {
            background-color: rgba($white,0.2);
        }
    }
}
