.gallery-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    > .child {
        background-size: cover;
        background-position: center;
        height: 100%;
        transition: all .2s ease-in-out;
        width: 100%;

        &:hover {
            transform: scale(1.2);
        }
    }

    > .button {
        transition: all .2s ease-in-out;

        &:hover {
            color: $secondary;
        }
    }

    > .remove {
        bottom: .5rem;
        color: rgba($danger,0.2);
        position: absolute;
        right: .5rem;
        transition: all .2s ease-in-out;
        z-index: 10;

        &:hover {
            color: $danger;
        }
    }

    &.-primary{
        background-color:$primary;
        color:$white;
    }

    @media(min-width:$screen-md-min) {
        max-width: calc(100% / 5);
    }
}
