.gallery-picker {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    opacity: 0;
    position: absolute;
    left: 0;
    transition: all .2s ease-in-out;


    &.-open {
        opacity: 1;
        animation: .5s delay-opacity;
    }

    &.-hide {
        height:0;
        overflow:hidden;
    }

    &::after {
        content: "";
        border-bottom: 15px solid $primary;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid transparent;
        position: absolute;
        left: 7px;
        top: -15px;
        transform: translateY(-50%);
    }

    @keyframes delay-opacity {
        from {
            opacity: 0
        }
    }
}
