.group-thumbnail {
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;

    > .body {
        align-content: center;
        background-color: $primary;
        cursor: pointer;
        display: flex;
        flex-grow: 1;
        font-size: 5rem;
        justify-content: center;
        transition: background-color .2s ease-in;
    }

    > .title {
        background-color: $primaryVariant;
        cursor: pointer;
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        transition: all .2s ease-in;
    }

    &:hover {
        > .title {
            background-color: rgba($secondaryVariant,0.8);
        }
    }

    @media(min-width:$screen-md-min) {
        width: calc(100% / 3);
    }
}
