.main-layout {
    display: flex;
    height: 100%;

    > .body {
        display: flex;
        flex-direction:column;
        width: 100%;

        >.navbar{
            box-shadow: 0 4px 5px -5px #ccc;
        }

        > .panel {
            padding:20px;
            width: 100%;
        }
    }
}
