.management-header {
    > .header {
        color: $primary;
        padding: 20px 0;
    }

    > .underline {
        background-color: $secondary;
        display: block;
        height: 6px;
        margin-bottom: 40px;
        margin-top: -20px;
        width: 50px;
    }
}
