.page-landing {
    background-image: url(/assets/dist/images/coding.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        > .body {
            text-align: center;
            > .title {
                color: $white;
                font-size: 3rem;
                font-weight: bold;
                margin-top:60px;
            }

            > .subtitle {
                color: $secondary;
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            > .links {
                > .link {
                    color: $white;
                }
            }
        }
    }
}
