.pagination-controls {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    > .info {
        padding: 0 10px;
    }

    > .item {
        min-width: 40px;
        padding: 0.5rem;
        text-align: center;
    }

    > .button {
        transition: all .2s ease-in-out;

        &:hover {
            background-color: $white;
            color: $primary;
        }

        &.-disabled {
            color: #e9ecef;
            cursor: not-allowed;
        }

        &.-disabled:hover {
            background-color: inherit;
        }
    }
}
