.side-bar {
    background-color: $primaryVariant;
    flex-direction: column;
    display: none;
    position:relative;
    transition:all .2s ease-in-out;

    > .header {
        color: #fff;
        display: flex;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: inherit;
        padding: 15px 20px;
        white-space: nowrap;
    }

    >.footer{
        color:$primary;
        bottom:0;
        font-weight:bold;
        padding:.5rem;
        position:absolute;
        text-align:center;
        width:100%;
    }

    &.-closed{
        margin-left:-240px;
    }

    @media(min-width:$screen-md-min) {
        display: flex;
        min-width: 240px;
        width: 240px;
    }
}
