.side-bar {
    background-color: $primaryVariant;
    flex-direction: column;
    display: none;

    > .header {
        color: #fff;
        display: flex;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: inherit;
        padding: 15px 20px;
        white-space: nowrap;
    }

    @media(min-width:$screen-md-min) {
        display: flex;
        min-width: 240px;
        width: 240px;
    }
}
