.value-display {
    background: $surface;
    box-shadow:0 0 5px $border;
    color: $primary;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;

    > .body {
        align-items: center;
        display: flex;
        flex-grow: 2;
        font-size: 5rem;
        justify-content: center;
        padding:20px
    }

    > .title {
        align-items: center;
        display:flex;
        flex-grow: 1;
        justify-content: center;
        padding:20px;
    }
}
