html, body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background-color: $surface;
    font-family: 'Raleway', sans-serif;

    @media(min-width:$screen-md-min) {
        background-color: $background;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

[v-cloak] {
    display: none;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.bg-primaryVariant {
    background-color: $primaryVariant;
}
