html,body {
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    height: 100%;
}

body{
    background-color: $bgcolor;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

[v-cloak] {
    display: none;
}