$fa-font-path: "../fonts/fontawesome";

$primary: #2c3e50;
$primaryVariant: #162439;
$secondary: #c2deed;
$secondaryVariant: #6188aa;
$success: #507c04;
$info: #007ea8;
$warning: #8c3f04;
$danger: #9e1618;

$background:#fff;
$surface:#fff;

$white:#fff;
$almost-white:#f5f5f5;
$black:#000;

$bgcolor: #ecf0f1;
$required: #c0392b;

$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;