$fa-font-path: "../fonts/fontawesome";

$primary: #16a085;
$success: #27ae60;
$info: #2980b9;
$warning: #f1c40f;
$danger: #e74c3c;

$white:#fff;
$black:#000;

$bgcolor: #ecf0f1;

$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;