
@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Media";
    ViewData["Child"] = "Images";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Child"]}";
    ViewData["Icon"] = "fas fa-box-full fa-fw";
}

<div class="management-header">
    <h2 class="header">
        Media Management
    </h2>
    <div class="underline"></div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

