@using BlogCore.Common
<section id="about">
    <div class="container about-container">

        <div class="row">
            <div class="col">
                <section id="blogcore-info" class="about-section">
                    <h3>BlogCore</h3>
                    <p>
                        A content management system for a web based curriculum written in C# and Vue.
                    </p>
                    <span class="badge bg-primary">Version @Constants.BCVersion</span>
                    <environment include="Development">
                        <span class="badge bg-warning">Development</span>
                    </environment>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section id="third-party-software" class="third-party-software about-section">
                    <h3>Third Party Software</h3>
                    <h4>
                        Frontend
                    </h4>
                    <ul class="list">
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">apexcharts</h4>
                                <span class="badge bg-info version">3.54.0</span>
                                <div class="line"></div>
                            </div>
                            <div class="third-party-header">
                                <h4 class="title">vue3-apexCharts</h4>
                                <span class="badge bg-info version">1.6.0</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>The MIT License (MIT)</h6>
                                <p>Copyright (c) 2018 ApexCharts</p>
                                <p>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy
                                    of this software and associated documentation files (the "Software"), to deal
                                    in the Software without restriction, including without limitation the rights
                                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                    copies of the Software, and to permit persons to whom the Software is
                                    furnished to do so, subject to the following conditions:
                                </p>
                                <p>
                                    The above copyright notice and this permission notice shall be included in
                                    all copies or substantial portions of the Software.
                                </p>
                                <p>
                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                                    THE SOFTWARE.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">bootstrap</h4>
                                <span class="badge bg-info version">5.3.3</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>The MIT License (MIT)</h6>
                                <p>Copyright (c) 2011-2024 The Bootstrap Authors</p>
                                <p>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy
                                    of this software and associated documentation files (the "Software"), to deal
                                    in the Software without restriction, including without limitation the rights
                                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                    copies of the Software, and to permit persons to whom the Software is
                                    furnished to do so, subject to the following conditions:
                                </p>
                                <p>
                                    The above copyright notice and this permission notice shall be included in
                                    all copies or substantial portions of the Software.
                                </p>
                                <p>
                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                                    THE SOFTWARE.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">date-fns</h4>
                                <span class="badge bg-info version">3.6.0</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>MIT License</h6>
                                <p>Copyright (c) 2021 Sasha Koss and Lesha Koss https://kossnocorp.mit-license.org</p>
                                <p>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy
                                    of this software and associated documentation files (the "Software"), to deal
                                    in the Software without restriction, including without limitation the rights
                                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                    copies of the Software, and to permit persons to whom the Software is
                                    furnished to do so, subject to the following conditions:
                                </p>
                                <p>
                                    The above copyright notice and this permission notice shall be included in
                                    all copies or substantial portions of the Software.
                                </p>
                                <p>
                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                                    THE SOFTWARE.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">vue</h4>
                                <span class="badge bg-info version">3.5.10</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>The MIT License (MIT)</h6>
                                <p>Copyright (c) 2013-present, Yuxi (Evan) You</p>
                                <p>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy
                                    of this software and associated documentation files (the "Software"), to deal
                                    in the Software without restriction, including without limitation the rights
                                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                    copies of the Software, and to permit persons to whom the Software is
                                    furnished to do so, subject to the following conditions:
                                </p>
                                <p>
                                    The above copyright notice and this permission notice shall be included in
                                    all copies or substantial portions of the Software.
                                </p>
                                <p>
                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                                    THE SOFTWARE.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">@@vuepic/vue-datepicker</h4>
                                <span class="badge bg-info version">9.0.3</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>MIT License</h6>
                                <p>Copyright (c) 2021-present Vuepic</p>
                                <p>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy
                                    of this software and associated documentation files (the "Software"), to deal
                                    in the Software without restriction, including without limitation the rights
                                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                    copies of the Software, and to permit persons to whom the Software is
                                    furnished to do so, subject to the following conditions:
                                </p>
                                <p>
                                    The above copyright notice and this permission notice shall be included in
                                    all copies or substantial portions of the Software.
                                </p>
                                <p>
                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                                    THE SOFTWARE.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">vue3-toastify</h4>
                                <span class="badge bg-info version">0.6.1</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>MIT License</h6>
                                <p>Copyright (c) 2022 jerrywu001</p>
                                <p>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy
                                    of this software and associated documentation files (the "Software"), to deal
                                    in the Software without restriction, including without limitation the rights
                                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                    copies of the Software, and to permit persons to whom the Software is
                                    furnished to do so, subject to the following conditions:
                                </p>
                                <p>
                                    The above copyright notice and this permission notice shall be included in
                                    all copies or substantial portions of the Software.
                                </p>
                                <p>
                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                                    THE SOFTWARE.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <h4>
                        Backend
                    </h4>
                    <ul class="list">
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">ImageSharp</h4>
                                <span class="badge bg-info version">3.1.5</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>Six Labors Split License</h6>
                                <p>Version 1.0, June 2022</p>
                                <p>Copyright (c) Six Labors</p>

                                <p>TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION</p>

                                <p>1. Definitions.</p>

                                <p>
                                    "You" (or "Your") shall mean an individual or Legal Entity
                                    exercising permissions granted by this License.
                                </p>

                                <p>
                                    "Source" form shall mean the preferred form for making modifications,
                                    including but not limited to software source code, documentation
                                    source, and configuration files.
                                </p>

                                <p>
                                    "Object" form shall mean any form resulting from mechanical
                                    transformation or translation of a Source form, including but
                                    not limited to compiled object code, generated documentation,
                                    and conversions to other media types.
                                </p>

                                <p>
                                    "Work" shall mean the work of authorship, whether in Source or
                                    Object form, made available under the License, as indicated by a
                                    copyright notice that is included in or attached to the work
                                    (an example is provided in the Appendix below).
                                </p>

                                <p>
                                    "Direct Package Dependency" shall mean any Work in Source or Object form
                                    that is installed directly by You.
                                </p>

                                <p>
                                    "Transitive Package Dependency" shall mean any Work in Object form that is
                                    installed indirectly by a third party dependency unrelated to Six Labors.
                                </p>

                                <p>2. License</p>

                                <p>
                                    Works in Source or Object form are split licensed and may be licensed under the
                                    Apache License, Version 2.0 or a Six Labors Commercial Use License.
                                </p>

                                <p>
                                    Licenses are granted based upon You meeting the qualified criteria as stated.
                                    Once granted, You must reference the granted license only in all documentation.
                                </p>

                                <p>
                                    Works in Source or Object form are licensed to You under the Apache License,
                                    Version 2.0 if.
                                </p>
                                <p>
                                    - You are consuming the Work in for use in software licensed under an Open Source
                                    or Source Available license.
                                </p>
                                <p>
                                    - You are consuming the Work as a Transitive Package Dependency.
                                </p>
                                    - You are consuming the Work as a Direct Package Dependency in the capacity of a
                                    For-profit company/individual with less than 1M USD annual gross revenue.
                                <p>
                                    - You are consuming the Work as a Direct Package Dependency in the capacity of a
                                    Non-profit organization or Registered Charity.
                                </p>
                                <p>
                                    For all other scenarios, Works in Source or Object form are licensed to You under
                                    the Six Labors Commercial License which may be purchased by visiting
                                    https://sixlabors.com/pricing/.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="third-party-header">
                                <h4 class="title">MailKit</h4>
                                <span class="badge bg-info version">2.1.0</span>
                                <div class="line"></div>
                            </div>
                            <div class="license-content monofont">
                                <h6>MIT License</h6>
                                <p>Copyright (C) 2013-2024 .NET Foundation and Contributors</p>
                                <p>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy
                                    of this software and associated documentation files (the "Software"), to deal
                                    in the Software without restriction, including without limitation the rights
                                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                    copies of the Software, and to permit persons to whom the Software is
                                    furnished to do so, subject to the following conditions:

                                    The above copyright notice and this permission notice shall be included in
                                    all copies or substantial portions of the Software.
                                </p>
                                <p>
                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                                    THE SOFTWARE.
                                </p>
                            </div>
                        </li>
                    </ul>

                </section>
            </div>
        </div>
    </div>
</section>
