@{
    Layout = "_Layout";
}

<nav class="navbar navbar-dark bg-primaryVariant">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="~/assets/dist/images/blogcore_logo_white_42x42.png" alt="blogcore logo" /> BlogCore</a>
    </div>
</nav>

@RenderBody()

