@{
    Layout = "_Layout";
}

<section class="main-layout">
    <div class="side-bar">
        <a class="header" href="/">
            <div>
                <img src="~/assets/dist/images/blogcore_logo_white_42x42.png" /> BlogCore
            </div>
        </a>
        @await Html.PartialAsync("_MenuPartial")
    </div>
    <div class="body">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <i class="@ViewData["Icon"]"></i> @ViewData["Title"]
                </div>
                <div class="d-flex">
                    <form method="post" asp-action="Logout" asp-controller="Account">
                        <button class="bc-nav-button" title="Sign out">
                            <i class="fad fa-sign-out fa-fw"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="panel">
            @RenderBody()
        </div>
    </div>
</section>
@RenderSection("Scripts", required: false)