@addTagHelper *, BlogCore
<a asp-area="" asp-controller="Manage" asp-action="Index" class="menu-link">
    <div is-active-route asp-controller="Manage" class="nav-item item">
        <i class="icon fas fa-home fa-fw"></i> Home
    </div>
</a>
<a asp-area="" asp-controller="Manage" asp-action="About" class="menu-link">
    <div is-active-route asp-controller="Manage" class="nav-item item">
        <i class="icon fas fa-info-circle fa-fw"></i> About
    </div>
</a>
<a asp-area="" asp-controller="Achievement" asp-action="Index" class="menu-link">
    <div is-active-route asp-controller="Achievement" class="nav-item item">
        <i class="icon fas fa-trophy fa-fw"></i> Achievements
    </div>
</a>
<a asp-area="" asp-controller="Education" asp-action="Index" class="menu-link">
    <div is-active-route asp-controller="Education" class="nav-item item">
        <i class="icon fas fa-university fa-fw"></i> Education
    </div>
</a>
<a asp-area="" asp-controller="Job" asp-action="Index" class="menu-link">
    <div is-active-route asp-controller="Job" class="nav-item item">
        <i class="icon fas fa-briefcase fa-fw"></i> Experience
    </div>
</a>
<a asp-area="" asp-controller="Skill" asp-action="Index" class="menu-link">
    <div is-active-route asp-controller="Skill" class="nav-item item">
        <i class="icon fas fa-sparkles fa-fw"></i> Skills
    </div>
</a>
<a asp-area="" asp-controller="Media" asp-action="Index" class="menu-link">
    <div is-active-route asp-controller="Media" class="nav-item item">
        <i class="icon fas fa-box-full fa-fw"></i> Media
    </div>
</a>
<a asp-area="" asp-controller="MediaGroup" asp-action="Index" class="menu-link-child">
    <div is-active-route asp-controller="MediaGroup" class="nav-item item">
        <i class="icon fas fa-folder fa-fw"></i> Groups
    </div>
</a>
<a asp-area="" asp-controller="MediaLink" asp-action="Index" class="menu-link-child">
    <div is-active-route asp-controller="MediaLink" class="nav-item item">
        <i class="icon fas fa-images fa-fw"></i> Images
    </div>
</a>
