<a asp-area="" asp-controller="Manage" asp-action="Index" class="menu-link">
    <div is-active-route asp-action="Index" asp-controller="Manage" class="nav-item item">
        <i class="icon fas fa-home fa-fw"></i> Home
    </div>
</a>
<a asp-area="" asp-controller="Achievement" asp-action="Index" class="menu-link">
    <div is-active-route asp-action="Index" asp-controller="Achievement" class="nav-item item">
        <i class="icon fas fa-trophy fa-fw"></i> Achievements
    </div>
</a>
<a asp-area="" asp-controller="Education" asp-action="Index" class="menu-link">
    <div is-active-route asp-action="Index" asp-controller="Education" class="nav-item item">
        <i class="icon fas fa-university fa-fw"></i> Education
    </div>
</a>
<a asp-area="" asp-controller="Job" asp-action="Index" class="menu-link">
    <div is-active-route asp-action="Index" asp-controller="Job" class="nav-item item">
        <i class="icon fas fa-briefcase fa-fw"></i> Experience
    </div>
</a>
<a asp-area="" asp-controller="Skill" asp-action="Index" class="menu-link">
    <div is-active-route asp-action="Index" asp-controller="Skill" class="nav-item item">
        <i class="icon fas fa-sparkles fa-fw"></i> Skills
    </div>
</a>