@{ 
    Layout = "_AccountLayout";
    ViewData["Title"] = "Email Confirmation";
}

<section class="confirmation-panel">
    <div class="header">
        <i class="fal fa-check-circle fa-3x icon"></i>
    </div>
    <div class="body">
        <h2>Confirm Email</h2>
        Thank you for confirming your email. Please <span class="blogcore-link"><a asp-action="login" class="link">click here</a><span class="underline"></span></span>
    </div>
</section>