@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Email Verification Sent";
}

<section class="confirmation-panel">
    <div class="header">
        <i class="fal fa-check-circle fa-3x icon" aria-hidden="true"></i>
    </div>
    <div class="body">
        <h2>Email Verification Sent</h2>
        Please check your email for the verification link.
    </div>
</section>