@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "EmailVerificationRequired";
}


<section class="error-panel">
    <div class="header">
        <i class="fas fa-fw fa-exclamation-triangle fa-3x"></i>
    </div>
    <div class="body">
        <h2>Email Verification Required</h2>
        <p>
            Email verification is required to access this content.
        </p>
    </div>
</section>

