@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Error";
}

<section class="error-panel">
    <div class="header">
        <i class="fas fa-fw fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
    </div>
    <div class="body">
        <h2>Error</h2>
        <p>An error occurred while processing your request.</p>
    </div>
</section>



