@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<section class="confirmation-panel">
    <div class="header">
        <i class="fal fa-check-circle fa-3x icon"></i>
    </div>
    <div class="body">
        <h2>Forgot Password Confirmation</h2>
        <p>
            The link has been sent, please check your email to reset your password.
        </p>
    </div>
</section>

