@model ForgotPasswordViewModel;
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Forgot Password";
}

<section class="forgot-password-form">
    <div class="header">
        <h2>ForgotPassword</h2>
    </div>
    <div class="body">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control form-input" maxlength="25" autocomplete="off" required />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary bc-button" title="Register">Submit</button>
            </div>
        </form>
    </div>
</section>

