@model PasswordResetViewModel
@{ 
    Layout = "_AccountLayout";
}

<section class="password-reset-form">
    <div class="header">
        <h2>Reset Password</h2>
    </div>
    <div class="body">
        <form method="post">
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control form-input" maxlength="25" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control form-input" maxlength="25" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary bc-button" title="Register">Submit</button>
            </div>
        </form>
    </div>
</section>