@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "PasswordResetConfirmation";
}

<section class="confirmation-panel">
    <div class="header">
        <i class="fal fa-check-circle fa-3x icon"></i>
    </div>
    <div class="body">
        <h2>Password Reset Confirmation</h2>
        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
    </div>
</section>


