@{ 
    Layout = "_AccountLayout";
    ViewData["Title"] = "Registration Success";
}

<section class="confirmation-panel">
    <div class="header">
        <i class="fal fa-check-circle fa-3x icon"></i>
    </div>
    <div class="body">
        <h2>Registration Successful</h2>
        Please check your email for the verification link.
    </div>
</section>