@model AchievementModel

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Achievements";
    ViewData["Action"] = "Create";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Action"]}";
    ViewData["Icon"] = "fas fa-trophy fa-fw";
}

<section id="achievement-create-form" class="form-component">
    <div class="header">
        <h2><i class="fas fa-trophy fa-fw" aria-hidden="true"></i> Achievement</h2>
    </div>
    <div class="body">
        <form v-on:submit.prevent="submit">
            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" v-model="title" class="form-control" />
                <span v-if="errors.title" class="text-danger">{{errors.title}}</span>
            </div>
            <div class="mb-3">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" v-model="type" class="form-select">
                    <option>Award</option>
                    <option>Certification</option>
                </select>
                <span v-if="errors.type" class="text-danger">{{errors.type}}</span>
            </div>
            <div class="mb-3">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" v-model="year" class="form-control" min="1900" />
                <span v-if="errors.year" class="text-danger">{{errors.year}}</span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary bc-button" />
            </div>
            <div class="mb-3">
                <div v-if="errors.result" class="mb-3 alert alert-danger">
                    <i class="fas fa-exclamation-triangle fa-fw" aria-hidden="true"></i> {{errors.result}}
                </div>
            </div>
        </form>
        <div>
            <a asp-action="Index"><i class="fal fa-arrow-left fa-fw" aria-hidden="true"></i> Back to List</a>
        </div>
    </div>
</section>

