
@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Media";
    ViewData["Title"] = $"{ViewData["Controller"]}";
    ViewData["Icon"] = "fas fa-box-full fa-fw";
}



<section id="media-index-page">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="management-header">
                    <h2 class="header">
                        Media Management
                    </h2>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <storage-bar-component v-bind:max="max" v-bind:used="used"></storage-bar-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input name="show_hidden" type="checkbox" v-model="showHidden" />
                <label for="show_hidden">Show Hidden</label>
            </div>
            <div class="col text-right">
                <i class="fas fa-spinner fa-pulse fa-fw" aria-hidden="true" v-bind:class="{'d-none':!loading}"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="value-display">
                    <div class="body">
                        {{imagesCount}}
                    </div>
                    <div class="title">
                        <h2>Images</h2>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="value-display">
                    <div class="body">
                        {{groupsCount}}
                    </div>
                    <div class="title">
                        <h2>Groups</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <apex-bar-chart v-bind:xaxis="categories" v-bind:yaxis="series"></apex-bar-chart>
            </div>
        </div>
    </div>
</section>

@section PageScripts{
    <script src="~/assets/dist/lib/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/dist/lib/vue3-apexcharts/vue3-apexcharts.js"></script>
}