@model EducationModel

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Education";
    ViewData["Action"] = "Edit";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Action"]}";
    ViewData["Icon"] = "fas fa-university fa-fw";
}


<section id="education-edit-form">
    <div class="form-component">
        <div class="header">
            <h2><i class="fas fa-university fa-fw" aria-hidden="true"></i> Edit</h2>
        </div>
        <div class="body">
            <form v-on:submit.prevent="submit">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="School" class="control-label"></label>
                    <input asp-for="School" v-model="school" class="form-control" autocomplete="off" />
                    <span v-if="errors.school" class="text-danger">{{errors.school}}</span>
                </div>
                <div class="mb-3">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" v-model="link" class="form-control" autocomplete="off" />
                    <span v-if="errors.link" class="text-danger">{{errors.link}}</span>
                </div>
                <div class="mb-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" v-model="title" class="form-control" autocomplete="off" />
                    <span v-if="errors.title" class="text-danger">{{errors.title}}</span>
                </div>
                <div class="mb-3">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" type="hidden" />
                    <gallery-picker-component :source="source" v-model="imageUrl"></gallery-picker-component>
                    <span v-if="errors.imageUrl" class="text-danger">{{errors.imageUrl}}</span>
                </div>
                <div class="mb-3">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" v-model="year" class="form-control" min="1900" />
                    <span v-if="errors.year" class="text-danger">{{errors.year}}</span>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Save" class="btn bc-button btn-primary" />
                </div>
                <div class="mb-3">
                    <div v-if="errors.result" class="mb-3 alert alert-danger">
                        <i class="fas fa-exclamation-triangle fa-fw" aria-hidden="true"></i> {{errors.result}}
                    </div>
                </div>
            </form>
            <a asp-action="Index"><i class="fal fa-arrow-left fa-fw" aria-hidden="true"></i> Back to List</a>
        </div>
    </div>
</section>