<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        body {
            background: #f5f5f5;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        #contenttable {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table border="0" cellpadding="0" width="100%" style="padding: 70px 0 70px 0;">
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="box-shadow: 0 1px 4px rgba(0,0,0,0.1) !important; background-color: #fdfdfd; border: 1px solid #dcdcdc; border-radius: 3px !important;">
                    <tr>
                        <td bgcolor="#2980b9" style="padding: 30px 0 10px 0;" align="center">
                            <h1 style="font-size: 32px;color:#fff;">BlogCore</h1>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 20px 30px 0px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <h2 style="color:#666">Welcome to BlogCore!</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0 30px 0;">
                                        Hi {{name}}, <br><br>You have just registered an account to use BlogCore, if this wasn't you, please send an email to {{helpemail}} as soon as possible.<br><br>Thank you!<br><strong>BlogCore System</strong>
                                        <p></p><em><small>This is an automatic email, please do not reply.</small></em>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ecf0f1" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr style="font-weight:bold;font-size:12px;color:#555;">
                                    <td> &copy; Jimmy Hodgson </td>
                                    <td align="right"> Made in Nicaragua</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>