@model SkillModel

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Skills";
    ViewData["Action"] = "Create";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Action"]}";
    ViewData["Icon"] = "fas fa-sparkles fa-fw";
}
<section id="skill-create-form" class="form-component">
    <div class="header">
        <h2><i class="fas fa-sparkles fa-fw"></i> Skill</h2>
    </div>
    <div class="body">
        <form v-on:submit.prevent="submit">
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" v-model="name" class="form-control" />
                <span v-if="errors.name" class="text-danger">{{errors.name}}</span>
            </div>
            <div class="mb-3">
                <label asp-for="Proficiency" class="control-label"></label>
                <select asp-for="Proficiency" v-model="proficiency" class="form-control">
                    <option>Basic</option>
                    <option>Intermediate</option>
                    <option>Advanced</option>
                </select>
                <span v-if="errors.proficiency" class="text-danger">{{errors.proficiency}}</span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary bc-button" />
            </div>
            <div class="mb-3">
                <div v-if="errors.result" class="mb-3 alert alert-danger">
                    <i class="fas fa-exclamation-triangle fa-fw"></i> {{errors.result}}
                </div>
            </div>
        </form>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>
