@model IEnumerable<SkillModel>

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Skills";
    ViewData["Title"] = $"{ViewData["Controller"]}";
    ViewData["Icon"] = "fas fa-sparkles fa-fw";
}

<section id="skill-management">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="management-header">
                    <h2 class="header">
                        Skill Management
                    </h2>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table-component v-bind:options="options"></table-component>
            </div>
        </div>
    </div>
</section>