@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "About";
    ViewData["Title"] = $"{ViewData["Controller"]}";
    ViewData["Icon"] = "fas fa-info-circle fa-fw";
}
<section id="about-header" class="container">
    <div class="row">
        <div class="col">
            <div class="management-header">
                <h2 class="header">
                    About
                </h2>
                <div class="underline"></div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("_AboutPartial")